<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlhZB0cGqRSfoGIuzbeOsZL_CDA4ZQoyY</string>
	<key>GCM_SENDER_ID</key>
	<string>1012820363886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wholesalespalletcus.app</string>
	<key>PROJECT_ID</key>
	<string>sixvalley-1431</string>
	<key>STORAGE_BUCKET</key>
	<string>sixvalley-1431.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012820363886:ios:9730eedbb8bfb580c4f47f</string>
</dict>
</plist>